<!-- Required styles for Material Web -->
<link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">

<div class="mdc-card">

    <form action="#" th:action="@{/book-creation}" th:object="${createBookRequest}" method="post">

        <div class="mdc-card__content">

            <h2 class="demo-card__title mdc-typography mdc-typography--headline6">Add a book</h2>

            <label class="mdc-text-field mdc-text-field--filled">
                <span class="mdc-text-field__ripple"></span>
                <span class="mdc-floating-label" id="title">Title</span>
                <input class="mdc-text-field__input" type="text" aria-labelledby="title" th:field="*{title}">
                <span class="mdc-line-ripple"></span>
            </label>

            <label class="mdc-text-field mdc-text-field--filled">
                <span class="mdc-text-field__ripple"></span>
                <span class="mdc-floating-label" id="author">Author</span>
                <input class="mdc-text-field__input" type="text" aria-labelledby="author" th:field="*{author}">
                <span class="mdc-line-ripple"></span>
            </label>

            <!--            <input type="submit" value="Submit"/>-->
        </div>

        <div class="mdc-card__actions">

            <!--            <button class="mdc-button mdc-card__action mdc-card__action&#45;&#45;button">-->
            <!--                <div class="mdc-button__ripple"></div>-->
            <!--                <span class="mdc-button__label">Cancel</span>-->
            <!--            </button>-->
            <a href="/book-creation" class="mdc-button mdc-card__action mdc-card__action--button">
                <div class="mdc-button__ripple"></div>
                <span class="mdc-button__label">Cancel</span>
            </a>
            <input type="submit" value="Submit" class="mdc-button mdc-card__action mdc-card__action--button"/>

            <!--            <button class="mdc-button mdc-card__action mdc-card__action&#45;&#45;button">-->
            <!--                <div class="mdc-button__ripple"></div>-->
            <!--                <span class="mdc-button__label">Create</span>-->
            <!--            </button>-->
        </div>

    </form>


</div>

<!-- Required Material Web JavaScript library -->
<script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
<!-- Instantiate single textfield component rendered in the document -->
<script>
  mdc.textField.MDCTextField.attachTo(document.querySelector('.mdc-text-field'));

</script>