<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
<head>
    <title th:text="${author.firstNameAndLastName}"></title>
</head>
<body>
<div class="mdc-card" layout:fragment="content">
    <div class="mdc-card__content">
        <h2 class="mdc-typography mdc-typography--headline6" th:text="${author.firstNameAndLastName}"></h2>
    </div>
    <div class="mdc-card__actions">
        <button class="mdc-button mdc-card__action mdc-card__action--button">
            <span class="mdc-button__ripple"></span>
            <span class="mdc-button__label">Delete</span>
        </button>
        <button class="mdc-button mdc-card__action mdc-card__action--button">
            <span class="mdc-button__ripple"></span>
            <span class="mdc-button__label">Edit</span>
        </button>
    </div>
</div>
</body>
</html>