<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
<head>
    <title th:text="#{book.detail}"></title>
</head>
<body>
<div class="mdc-card" layout:fragment="content">
    <div class="mdc-card__content">
        <h2 class="demo-card__title mdc-typography mdc-typography--headline6" th:text="#{book.detail}">placeholder title</h2>
        <span th:text="#{book.detail.title(${bookDetail.title})}"></span><br/>
        <span th:text="#{book.detail.author(${bookDetail.author})}"></span><br/>
        <span th:text="#{book.detail.type(#{${bookDetail.type}})}"></span></span>
    </div>
</div>
</body>
</html>