<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet"/>
    <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
</head>

<body>

<h1 th:utext="#{jobTitle}">placeholder</h1>
<h1 th:utext="#{job}">placeholder</h1>
<div class="name" th:utext="#{name}">placeholder</div>
<div th:utext="#{mail}">placeholder</div>
<!--            <div th:utext="#{phone}">placeholder</div>-->
<div th:utext="#{age}">placeholder</div>

<h1 th:utext="#{skills}">placeholder</h1>
<th:block th:each="skill: ${skills}">
    <div th:utext="#{${skill}+'Title'}">placeholder</div>
    <div th:utext="#{${skill}}">placeholder</div>
</th:block>

<h1 th:utext="#{missions}">placeholder</h1>
<th:block th:each="mission: ${missions}">
    <div th:utext="#{${mission}+'Date'}">placeholder</div>
    <div th:utext="#{${mission}}">placeholder</div>
    <div th:utext="#{${mission}+'TechnicalEnvironment'}">placeholder</div>
</th:block>

<h1 th:utext="#{formations}">placeholder</h1>
<th:block th:each="formation: ${formations}">
    <div th:utext="#{${formation}+'Date'}">placeholder</div>
    <div th:utext="#{${formation}}">placeholder</div>
</th:block>

<h1 th:utext="#{interests}">placeholder</h1>
<th:block th:each="interest: ${interests}">
    <div th:utext="#{${interest}+'Title'}">placeholder</div>
    <div th:utext="#{${interest}}">placeholder</div>
</th:block>

<div th:utext="#{motivationLetter}">placeholder</div>

</body>

</html>
