<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">
<head>
    <title>Add a book</title>
</head>
<body>

<div class="mdc-card" layout:fragment="content">

    <form action="#" id="createBookForm" th:action="@{/books/creation}" th:object="${bookCreationForm}" method="post">

        <div class="mdc-card__content">

            <h2 class="demo-card__title mdc-typography mdc-typography--headline6">Add a book</h2>

            <div>
                <label class="mdc-text-field mdc-text-field--outlined">
                  <span class="mdc-notched-outline">
                    <span class="mdc-notched-outline__leading"></span>
                    <span class="mdc-notched-outline__notch">
                      <span class="mdc-floating-label" id="title">Title</span>
                    </span>
                    <span class="mdc-notched-outline__trailing"></span>
                  </span>
                    <input type="text" class="mdc-text-field__input" aria-labelledby="title" th:field="*{title}"
                           required maxlength="25">
                </label>
                <div class="mdc-text-field-helper-line">
                    <div class="mdc-text-field-character-counter">0 / 20</div>
                </div>
            </div>
            <div>
                <input type="checkbox" th:field="*{editions}" th:value="normale" onchange="checkValidity()"/>
                <input type="checkbox" th:field="*{editions}" th:value="deluxe" onchange="checkValidity()"/>
            </div>
            <div>
                <label class="mdc-text-field mdc-text-field--outlined">
                  <span class="mdc-notched-outline">
                    <span class="mdc-notched-outline__leading"></span>
                    <span class="mdc-notched-outline__notch">
                      <span class="mdc-floating-label" id="my-label-id">Author</span>
                    </span>
                    <span class="mdc-notched-outline__trailing"></span>
                  </span>
                    <input type="text" class="mdc-text-field__input" aria-labelledby="author" th:field="*{author}"
                           required maxlength="20">
                </label>
                <div class="mdc-text-field-helper-line">
                    <div class="mdc-text-field-character-counter">0 / 20</div>
                </div>
            </div>

            <div>
                <select th:field="*{type}">
                    <option th:each="type : ${types}" th:value="${type}" th:text="#{${type}}"></option>
                </select>
            </div>


        </div>

        <div class="mdc-card__actions">
            <a href="/books/create" class="mdc-button mdc-card__action mdc-card__action--button">
                <div class="mdc-button__ripple"></div>
                <span class="mdc-button__label">Cancel</span>
            </a>
            <input type="submit" value="Submit" class="mdc-button mdc-button--unelevated"/>
        </div>

    </form>


</div>

</body>

<script layout:fragment="script">

    /*<![CDATA[*/

    const textFields = [].map.call(document.querySelectorAll('.mdc-text-field'), function(el) {
        mdc.textField.MDCTextField.attachTo(el);
    });

    function checkValidity() {
        const form = document.querySelector('#createBookForm');
        const checkboxes = form.querySelectorAll('input[type=checkbox]');
        const firstCheckbox = checkboxes.length > 0 ? checkboxes[0] : null;
        if (firstCheckbox) {
            if(isChecked(checkboxes)) {
                firstCheckbox.setCustomValidity('');
            } else {
                firstCheckbox.setCustomValidity('At least one checkbox must be selected.');
            }
        }
    }

    function isChecked(checkboxes) {
        for (let i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) return true;
        }
        return false;
    }

    checkValidity();

    /*]]>*/

</script>

</html>

